<h1>Enter Your Search Criteria</h1>
<form action="/results" method="post">
  <p>Enter Search Terms:</p>
  <input type="text" name="search_terms">
  <p>Enter Search Zip Code:</p>
  <input type="text" name="location" value= "<%= @user_zip %>">
  <input type="submit" value="submit">
</form>